.vs
packages
attendanceWeb/bin
attendanceWeb/obj
*.edmx
attendanceWeb/attendance.cs
attendanceWeb/course.cs
attendanceWeb/department.cs
attendanceWeb/instruc.cs
attendanceWeb/lecturer.cs
attendanceWeb/myclass.cs
attendanceWeb/student.cs
attendanceWeb/user.cs
attendanceWeb/verification.cs
attendanceWeb/webInstruc.cs
*.csproj
*.user
*.tt
*.diagram
attendanceModel.Context.cs
attendanceModel.Designer.cs


