<h3>Manage Department</h3>
<div class="row">

    <div class="col">
        <div class="row">
            <div class="col pull-right"><button class="btn btn-primary " data-toggle="modal" data-target="#deptModal">Add Department</button></div>
        </div>
        <br />
        <table style="width:100%" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable md">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Department Name</th>
                    <th class="mdl-data-table__cell--non-numeric">Department Code</th>

                  


                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="department in departments" >
                    <td class="mdl-data-table__cell--non-numeric">{{department.name}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{department.code}}</td>

                   
                </tr>

            </tbody>
        </table>

    </div>
</div>
